[submodule "HomeAssistantVersionControlBeta"]
	path = HomeAssistantVersionControlBeta
	url = https://github.com/DiggingForDinos/HomeAssistantVersionControlBeta.git
[submodule "HomeAssistantTimeMachineBeta"]
	path = HomeAssistantTimeMachineBeta
	url = https://github.com/DiggingForDinos/HomeAssistantTimeMachineBeta.git
